.table-action {
  cursor: pointer;
}
.text-centered {
  text-align: center;
}
.command-bar {
  display: flex;
  flex-direction: row-reverse;
  margin-top: -52px;
  margin-bottom: 32px;
}
.col-header {
  padding-left: 8px;
}
.btn-refresh {
  margin-right: 24px;
}
